[submodule "client/test/gb-test-roms"]
	path = client/test/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
[submodule "client/test/PyBoy"]
	path = client/test/PyBoy
	url = https://github.com/chrsbell/PyBoy
	branch = master
