$base-width: 787px;
$base-height: 720px;
$baseline: 1rem;

body {
  background-color: #111111;
}

.container {
  margin: 4vh 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  min-width: $base-width;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

canvas {
  width: $base-width;
  height: $base-height;
  border: rebeccapurple solid $baseline/4;
}

input {
  display: none;
}
